body{

    background: linear-gradient(to right, #16222a, #3a6073);
    
}

         
.btn-gradiount {
    background: linear-gradient(to right, #16222A 0%, #3A6073  51%, #16222A  100%);
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    display: block;
  }

  .btn-gradiount:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }


.btn-grad {
    background: linear-gradient(to right, #16222A 0%, #3A6073  51%, #16222A  100%);
    padding: 10px 40px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    border-radius: 10px;
    display: block;
  }

  .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }


  .yyy:hover {
    border: 1px solid #00e1ff;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.8);    
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;      
    border-radius: 25px;
    display: block;
  }


 
 